{
  "openapi": "3.0.3",
  "info": {
    "title": "OFFER-HUB API",
    "version": "1.0.0",
    "description": "Auto-generated OpenAPI specification for OFFER-HUB",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.offer-hub.com",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and session management"
    },
    {
      "name": "Balances",
      "description": "User balances and transaction history"
    },
    {
      "name": "Wallets",
      "description": "Stellar wallet linking and management"
    },
    {
      "name": "Projects",
      "description": "Project lifecycle management"
    },
    {
      "name": "Escrow",
      "description": "Escrow funding, release and dispute operations"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "description": "Creates a new user account and returns a JWT token for immediate authentication.",
        "operationId": "register-a-new-user",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRegisterResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "User registered successfully",
                  "data": {
                    "id": "usr_01ABC",
                    "email": "user@example.com",
                    "name": "John Doe",
                    "token": "eyJhbGciOiJIUzI1NiIs..."
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 422,
                  "type": "error",
                  "ok": false,
                  "message": "Validation failed",
                  "data": null,
                  "errors": [
                    "Email is already registered",
                    "Password must be at least 8 characters"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRegisterRequest"
              },
              "example": {
                "email": "user@example.com",
                "password": "securePassword123",
                "name": "John Doe"
              }
            }
          },
          "required": true
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login and receive a JWT",
        "description": "Authenticates a user with email and password, returns a JWT for subsequent requests.",
        "operationId": "login-and-receive-a-jwt",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthLoginResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Login successful",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIs...",
                    "user": {
                      "id": "usr_01ABC",
                      "email": "user@example.com",
                      "name": "John Doe"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 401,
                  "type": "error",
                  "ok": false,
                  "message": "Invalid email or password",
                  "data": null
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthLoginRequest"
              },
              "example": {
                "email": "user@example.com",
                "password": "securePassword123"
              }
            }
          },
          "required": true
        }
      }
    },
    "/balances": {
      "get": {
        "summary": "Get user balances",
        "description": "Returns the authenticated user's available and held balances across all currencies.",
        "operationId": "get-user-balances",
        "tags": [
          "Balances"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalancesResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Balances retrieved",
                  "data": {
                    "balances": [
                      {
                        "currency": "USD",
                        "available": 1250,
                        "held": 200
                      },
                      {
                        "currency": "XLM",
                        "available": 5000,
                        "held": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 401,
                  "type": "error",
                  "ok": false,
                  "message": "Missing or invalid authorization token",
                  "data": null
                }
              }
            }
          }
        }
      }
    },
    "/balances/transactions": {
      "get": {
        "summary": "Get paginated transaction history",
        "description": "Returns paginated list of the user's transactions with optional filtering.",
        "operationId": "get-paginated-transaction-history",
        "tags": [
          "Balances"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Transactions retrieved",
                  "data": {
                    "transactions": [
                      {
                        "id": "txn_01XYZ",
                        "type": "credit",
                        "amount": 100,
                        "currency": "USD",
                        "description": "Escrow release — Project Alpha",
                        "created_at": "2026-01-15T10:30:00.000Z"
                      },
                      {
                        "id": "txn_02XYZ",
                        "type": "debit",
                        "amount": 50,
                        "currency": "USD",
                        "description": "Withdrawal to bank",
                        "created_at": "2026-01-14T14:20:00.000Z"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 47,
                      "pages": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 401,
                  "type": "error",
                  "ok": false,
                  "message": "Missing or invalid authorization token",
                  "data": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 20, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Filter by currency",
            "schema": {
              "$ref": "#/components/schemas/Currency",
              "enum": [
                "USD",
                "XLM",
                "USDC"
              ]
            }
          }
        ]
      }
    },
    "/wallets/connect": {
      "post": {
        "summary": "Connect a Stellar wallet",
        "description": "Links a Stellar public key to the authenticated user's account for on-chain transactions.",
        "operationId": "connect-a-stellar-wallet",
        "tags": [
          "Wallets"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletConnectResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Wallet connected successfully",
                  "data": {
                    "wallet_id": "wal_01DEF",
                    "public_key": "GBCG42WTVWPO4Q6N...",
                    "connected_at": "2026-01-20T08:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "type": "error",
                  "ok": false,
                  "message": "Invalid Stellar public key format",
                  "data": null
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WalletConnectRequest"
              },
              "example": {
                "public_key": "GBCG42WTVWPO4Q6N..."
              }
            }
          },
          "required": true
        }
      }
    },
    "/projects": {
      "get": {
        "summary": "List projects",
        "description": "Returns a paginated list of projects visible to the authenticated user.",
        "operationId": "list-projects",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsListResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Projects retrieved",
                  "data": {
                    "projects": [
                      {
                        "id": "prj_01GHI",
                        "title": "Project Alpha",
                        "description": "A sample freelance project",
                        "budget": 2500,
                        "currency": "USD",
                        "status": "open",
                        "created_at": "2026-01-10T09:00:00.000Z"
                      },
                      {
                        "id": "prj_02GHI",
                        "title": "Project Beta",
                        "description": "Another project",
                        "budget": 1000,
                        "currency": "USDC",
                        "status": "in_progress",
                        "created_at": "2026-01-12T11:00:00.000Z"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 12,
                      "pages": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 401,
                  "type": "error",
                  "ok": false,
                  "message": "Missing or invalid authorization token",
                  "data": null
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Results per page (default: 20)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ]
      },
      "post": {
        "summary": "Create a project",
        "description": "Creates a new project. Requires authentication.",
        "operationId": "create-a-project",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Project created successfully",
                  "data": {
                    "id": "prj_03GHI",
                    "title": "New Project",
                    "description": "Project description here",
                    "budget": 1500,
                    "currency": "USD",
                    "status": "open",
                    "created_at": "2026-02-01T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 422,
                  "type": "error",
                  "ok": false,
                  "message": "Validation failed",
                  "data": null,
                  "errors": [
                    "Title is required",
                    "Budget must be positive"
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateRequest"
              },
              "example": {
                "title": "New Project",
                "description": "Project description here",
                "budget": 1500,
                "currency": "USD"
              }
            }
          },
          "required": true
        }
      }
    },
    "/escrow/init": {
      "post": {
        "summary": "Initialise an escrow",
        "description": "Creates a new escrow contract between buyer and seller. Funds are held until release.",
        "operationId": "initialise-an-escrow",
        "tags": [
          "Escrow"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Escrow initialised",
                  "data": {
                    "escrow_id": "esc_01JKL",
                    "project_id": "prj_01GHI",
                    "buyer_id": "usr_01ABC",
                    "seller_id": "usr_02ABC",
                    "amount": 2500,
                    "currency": "USD",
                    "status": "funded",
                    "created_at": "2026-02-01T14:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "type": "error",
                  "ok": false,
                  "message": "Insufficient balance to fund escrow",
                  "data": null
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EscrowInitRequest"
              },
              "example": {
                "project_id": "prj_01GHI",
                "seller_id": "usr_02ABC",
                "amount": 2500,
                "currency": "USD"
              }
            }
          },
          "required": true
        }
      }
    },
    "/escrow/release": {
      "post": {
        "summary": "Release escrowed funds",
        "description": "Releases held funds from an escrow to the seller upon project completion.",
        "operationId": "release-escrowed-funds",
        "tags": [
          "Escrow"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscrowReleaseResponse"
                },
                "example": {
                  "code": 200,
                  "type": "success",
                  "ok": true,
                  "message": "Escrow released successfully",
                  "data": {
                    "escrow_id": "esc_01JKL",
                    "status": "released",
                    "released_amount": 2500,
                    "released_at": "2026-02-10T16:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 400,
                  "type": "error",
                  "ok": false,
                  "message": "Escrow is not in a releasable state",
                  "data": null
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": 401,
                  "type": "error",
                  "ok": false,
                  "message": "Only the buyer can release the escrow",
                  "data": null
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EscrowReleaseRequest"
              },
              "example": {
                "escrow_id": "esc_01JKL"
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Currency": {
        "type": "string",
        "enum": [
          "USD",
          "XLM",
          "USDC"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "code",
          "type",
          "ok",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AuthRegisterRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AuthRegisterResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": "string"
              },
              "token": {
                "type": "string"
              }
            }
          }
        }
      },
      "AuthLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthLoginResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              },
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "available": {
            "type": "number"
          },
          "held": {
            "type": "number"
          }
        }
      },
      "BalancesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "balances": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "credit",
              "debit"
            ]
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "pages": {
            "type": "integer"
          }
        }
      },
      "TransactionsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "transactions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/Pagination"
              }
            }
          }
        }
      },
      "WalletConnectRequest": {
        "type": "object",
        "required": [
          "public_key"
        ],
        "properties": {
          "public_key": {
            "type": "string",
            "pattern": "^G[A-Z2-7]{55}$"
          }
        }
      },
      "WalletConnectResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "wallet_id": {
                "type": "string"
              },
              "public_key": {
                "type": "string"
              },
              "connected_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "budget": {
            "type": "number"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "in_progress",
              "completed",
              "cancelled"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProjectCreateRequest": {
        "type": "object",
        "required": [
          "title",
          "budget",
          "currency"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "budget": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        }
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Project"
          }
        }
      },
      "ProjectsListResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "projects": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Project"
                }
              },
              "pagination": {
                "$ref": "#/components/schemas/Pagination"
              }
            }
          }
        }
      },
      "Escrow": {
        "type": "object",
        "properties": {
          "escrow_id": {
            "type": "string"
          },
          "project_id": {
            "type": "string"
          },
          "buyer_id": {
            "type": "string"
          },
          "seller_id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "funded",
              "released",
              "disputed",
              "refunded"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EscrowInitRequest": {
        "type": "object",
        "required": [
          "project_id",
          "seller_id",
          "amount",
          "currency"
        ],
        "properties": {
          "project_id": {
            "type": "string"
          },
          "seller_id": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        }
      },
      "EscrowResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Escrow"
          }
        }
      },
      "EscrowReleaseRequest": {
        "type": "object",
        "required": [
          "escrow_id"
        ],
        "properties": {
          "escrow_id": {
            "type": "string"
          }
        }
      },
      "EscrowReleaseResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "escrow_id": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "released"
                ]
              },
              "released_amount": {
                "type": "number"
              },
              "released_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token issued by /auth/login or /auth/register"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}